ol li {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f1f5f7;
  margin-right: 3px;
  margin-bottom: 5px;
  font-size: 1.3em;
  line-height: 1.6em;
  color: #333;
  font-family: "Lato", sans-serif;
} /* changes ol styling for my cv. careful not to use OLs in blog posts! */