<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Posts</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li><a href="https://github.com/andrewjoelpeters" id="myInput">github.com/andrewjoelpeters</a></li>
	        		<li><div class="tooltip"><button onclick='copyText("andrewjoelpeters@gmail.com")'>
						email
						</button>
						<span class="tooltiptext">copy to clipboard</span>
					  </div></li>
				</ul>
			</footer>
		</body>
		<script type="text/javascript" src="js/main.js"></script>
	</html>
