<!DOCTYPE html>
	<html>
		<head>
			{% include analytics.html %}
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:400,600&display=swap" rel="stylesheet">
			<!-- import cv .css if stated -->
			{% if page.custom_css %}
				{% for stylesheet in page.custom_css %}
			<link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
				{% endfor %}
			  {% endif %}
			  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
				<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
				<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
				<link rel="manifest" href="/site.webmanifest">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Posts</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li><a href="https://github.com/andrewjoelpeters">github</a></li>
					<li><span class="mobile"><a href="mailto:hi@andrewjoelpeters.com">email</a></span></li>
					<li><span class="tooltip desktop"><button onclick='copyText("andrewjoelpeters@gmail.com")'>
						email
						</button>
						<span class="tooltiptext footer">copy to clipboard</span>
					  </span></li>
				</ul>
			</footer>
		 <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
		{% include lightbox.html %}
		</body>
		<script type="text/javascript" src="/assets/js/main.js"></script>
	</html>
